<!-- a 418 error page-->
<!DOCTYPE html>
<html>
<head>
    <title>418 I'm a teapot</title>
</head>
<body>
    <h1>418 I'm a teapot</h1>
    <p>I'm a teapot. I'm a short and stout. Here is my handle, here is my spout.</p>
    <p>When I get all steamed up, hear me shout. Tip me over and pour me out.</p>
    <p>Sorry, I'm a teapot. I can't brew coffee.</p>
    <p>But you can try to brew coffee with me. Just add some coffee beans and water, and see what happens.</p>
    <p>Good luck!</p>
    <p>And remember, I'm a teapot.</p>
    <p>Have a nice day!</p>
    <p>:-)</p>
</body>
</html>