<html>
  <head>
    <title>Datapage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" href="pagestyle.css" media="screen">
    <link href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" rel="stylesheet" href="pagestyle.css" media="screen">

</head>
  <body>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Serial</th>
                <th>IP</th>
            </tr>
        </thead>
        <tbody>
            {% block content %}
    
            {% for switch in switches %}
            <tr>
                <td>{{ switch.name }}</td>
                <td>{{ switch.serial }}</td>
                <td>{{ switch.ip }}</td>
            </tr>
              
            {% endfor %}
            
            {% endblock %}
        </tbody>
        </table>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script> 

<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script> 


        <script>
new DataTable('#example', {
    layout: {
        bottomEnd: {
            paging: {
                boundaryNumbers: false
            }
        }
    }
});

        </script>
  </body>
</html>




