<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Chartjs Charts</title> 

</head>
  <body>

    <div style="height: 50vh; width: 50%;">
        <canvas id="myChart"></canvas>
    </div>
 
    <script>
const labels = {{ labels | tojson}};
 
 const data = {
     labels: labels,
     datasets: [{
         label: 'Sales',
         backgroundColor: 'rgb(255, 99, 132)',
         borderColor: 'rgb(255, 99, 132)',
         data: {{ data | tojson}},
     }]
 };

 const config = {
     type: 'line',
     data: data,
     options: { maintainAspectRatio: false }
 };

 const myChart = new Chart(
     document.getElementById('myChart'),
     config
 );

</script>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Indicator</th>
                <th>Geopolitical Entity</th>
                <th>Year</th>
                <th>Value</th>
                <th>Flag</th>
            </tr>
        </thead>
        <tbody>
            {% block content %}
    
            {% for switch in switches %}
            <tr>
                <td>{{ switch.indic_de }}</td>
                <td>{{ switch.geo }}</td>
                <td>{{ switch.TIME_PERIOD }}</td>
                <td>{{ switch.OBS_VALUE }}</td>
                <td>{{ switch.OBS_FLAG }}</td>
            </tr>
              
            {% endfor %}
            
            {% endblock %}
        </tbody>
        </table>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script> 

    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script> 


        <script>
new DataTable('#example', {




    layout: {
        bottomEnd: {
            paging: {
                boundaryNumbers: false
            }
        }
    }
});

        </script>
  </body>
</html>




